*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.image{
    position: relative;
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 50%;
    background-image: url(image.jpg);
    background-size: cover;
    border: 3px solid rgb(0, 140, 255);
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
.profile-card{
    max-width: 370px;
    width: 100%;
    background-color: white;
    padding: 25px;
    border-radius: 24px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.423);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-data .name{
    font-size: 22px;
    font-weight: 700;
}
.text-data .job{
    font-size: 15px;
    font-weight: 500;
}
.profile-card .media-links{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.media-links .link{
    font-size: 18px;
    height: 34px;
    width: 34px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: rgb(37, 0, 249);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}