body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serifbrav;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#box{
    height: 500px;
    width: 500px;
    border: 3px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(pic.jpg);
    background-size: cover;
    float: left ;       
    border-radius: 50%;
}
#box1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: rgba(0, 0, 255, 0.288);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
}
#box2{  
    height: 100px;  
    width: 100px;
    border: 2px solid black;
    background-color: rgba(165, 42, 42, 0.264);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
#box3{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: rgba(0, 128, 0, 0.219);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
#box4{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: rgba(255, 217, 0, 0.267);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
a{
    text-decoration: none;
}
a:link{
    color: green;
}
a:hover{
    color: pink;
}
a:active{
    color: gold
}
a:visited{
    color: red;
}