#question{
    font-weight: 800;
}
#div1{
    position: static;
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
    background-color: aqua;
}
#div2{
    position: relative;
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
    background-color: rgba(28, 11, 219,0.5);
    right: 20px;
}
#div3{
    position: absolute;
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
    background-color: rgb(183, 93, 44);
    right: 10px;
    z-index: 1;
}
#div4{
    position: fixed;
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
    background-color: rgb(107, 33, 39);
    top: 285px;
    right: 5px;
}
#div5{
    position: sticky;
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
    background-color: rgb(125, 123, 177);
    top: 0px;
    margin-left: 0px;
}
p{
    font-family: cursive;
    font-size: 30px;
}
#div6{
    background-image: url(city.jpg);
    height: 150px;
    width: 150px;
    background-size: cover;
}
#div6{
    background-image: url(city.jpg);
    height: 150px;
    width: 150px;
    background-size: cover;
    color: white;
    display: inline-block;
    margin-right: 200px;
}
#div7{
    background-image: url(city.jpg);
    height: 150px;
    width: 150px;
    background-size: contain;
    color: white;
    display: inline-block;
    margin-right: 200px;
}
#div8{
    background-image: url(city.jpg);
    height: 150px;
    width: 150px;
    background-size: auto;
    color: white;
    display: inline-block;
}
#final{
    text-align: center;
}