div{
    height: 100px;
    width: 100px;
    background-image: url(city.jpg);
    background-size: cover;
    right: 0px;
    position: fixed;
    top: 250px;
    z-index: 1;
}
.bips{
    font-size: 30px;
}