*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.nav-bar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 130px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 23px;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
    margin-top: 3px;
}
.add-icon{
    display: flex;
    align-items: center;

}
.nav-search{
    display: flex;
    align-items: center;
}
.search-icon{
    background-color: orangered;
}

