div{
    background-color: antiquewhite;
    border: 2px solid black;
    display: inline-block;
    height: 100px;
    width: 100px;
}

#box1{
    background-image: url(city.jpg);
    background-size: auto;
}