p{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    font-family: cursive;
    line-height: 20px;
    text-transform: capitalized;
}
h1{
    text-align: center;
    text-decoration: line-through;
    font-family: cursive;
}
a{
    text-decoration: none;
}