div{
    height: 100px;
    background-color: blanchedalmond;
    width: 100px;
    border: 5px dashed red;
    text-align: right;
    padding-bottom: 20px;
    padding-right: 20px;
}
h1{
    width: 200px;
    height: 50px;
    background-color: blanchedalmond;
    border: 5px solid blue;
    text-align: left;
    border-radius: 10px;
}
 