body{
    text-align: center;
}
div{
    height: 100px;
    width: 150px;
    display: inline-block;
    border: 2px solid black;
}
#container{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
#box1{
    background-color: rgb(201, 125, 12);
}
#box2{
    background-color: rgb(55, 255, 122);
    height: 200px;
    align-self: flex-end;
}
#box3{
    background-color: rgb(10, 46, 11);
    height: 75px;
}
#box4{
    background-color: rgb(0, 81, 255);
}
#box5{
    background-color: rgb(236, 8, 8);
}