.loader{
    height: 100px;
    width: 100px;
    border: 20px solid aqua;
    border-top: 20px solid gold;
    border-radius: 50%;
    animation: animate 1s ease-in 0s infinite normal;

}

@keyframes animate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg)
    }
} 