#heading{
    font-family: cursive;
    font-weight: 900;
    text-align: center;
    color: blue;
    background-color: aqua;
}
#form{
    text-align: center;
}
.box1{
    font-family: cursive;
    text-align: center;
    font-weight: 200;
}
#box2{
    font-family: cursive;
    text-align: center;
    font-weight: 250;
    font-size: 20px;
}
.box3{
    font-family: cursive;
}
#date{
    text-align: center;
}
*{
    background-color: rgb(250, 229, 229);
    background-image: none;
}
#button{
    color:blue;
    background-color: rgb(239, 119, 181);
    block-size: 30px;
    margin-block-start: 20px;
}  
#finish{
    text-align: center;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: chocolate;
}