*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 500px;
    width: 200px;
    border: 2px solid black;
    background-color: grey;
    margin: 10px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 20px;
}
.box{
    border: 2px solid black;
    height: 100px;
    font-size: 15px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: transparent;
}
.box:nth-child(3){
    background-color: grey;
    animation: animate3 5s step-start 0s 1 normal;
}
.box:nth-child(2){
    background-color: grey;
    animation: animate2 2s step-start 5s 1 normal;
}
.box:nth-child(1){
    background-color: grey;
    animation: animate1 5s step-start 7s 1 normal;
}
@keyframes animate1{
    0%{
        background-color: grey;
    }
    100%{
        background-color: rgba(255, 0, 0, 0.703);
        color: black;
    }
}
@keyframes animate2{
    0%{
        background-color: grey;
    }
    100%{
        background-color: yellow;
        color: black;
    }
}@keyframes animate3{
    0%{
        background-color: grey;
    }
    100%{
        background-color: rgb(0, 60, 0);
        color: black;
    }
}
.dandi{
    height: 400px;
    width: 20px;
    border: 5px solid black;
    position: relative;
    left: 110px;
    background-color: black;
}