
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
    display: inline;
}
#navbar{
    background-color: rgb(13, 82, 82);
    display: flex;
    justify-content: space-evenly;
}