#main-div{
    height: 400px;
    width: 400px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(147, 101, 101);
}
#box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    background-color: rgb(99, 24, 239);
}