*{
    padding: 0;
    margin: 0;
}
#navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
}
button{
    background-color: #f08804;
    color: white;
}
#logo{
    color: #f08804;
    font-size: 25px;
    text-decoration: none;
}
a{
    margin-right:200px;
    text-decoration: none;
}